<section class="hero">
  <div class="background-screen">
    <div class="banner">
      <h1>Full Stack</h1>
      <p>Technology Services</p>
    </div>
  </div>
</section>

<style>
  .hero {
    min-height: 200px;
    background-image: linear-gradient(rgba(240, 208, 212, 0.9), rgba(0, 0, 0, 0.9)), url('/images/women-rowing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1 !important;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
  }

  .background-screen {
    background-color: rgba(41, 60, 99, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .banner {
    text-align: left;
    letter-spacing: var(--mainSpacing);
    color: #fff;
    position: relative;
    z-index: 1;
  }

  .banner h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-shadow: 12px 4px 71px hsla(0, 0%, 45.9%, 0);
    margin: 1.25rem 1.25rem 0.25rem;
    line-height: 1.5rem;
  }

  .banner p {
    text-align: left;
    margin: 0 1.25rem;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  @media screen and (min-width: 768px) {
    .hero {
      min-height: 450px;
    }

    .banner h1 {
      margin: 4rem 1rem 1rem 4rem;
      font-size: 3.5rem;
    }

    .banner p {
      margin: 0 4rem;
      font-size: 2rem;
    }
  }
</style>
